:root{
    background-image: url(pic/sakura.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}
nav h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 24px;
    line-height: 60px;
    float: left;
    padding: 0px 20px;
}

nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul{
    display:none;
    position: absolute;
    background-color: azure;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display:block;
}
nav ul li ul li a{
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
}
.title-head{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    text-shadow: 5px 5px #eb89ba;
}
.about{
    font-size: 19px;
    font-family: 'Anton', sans-serif,cursive;
    max-width: 630px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    background-color: #fadadd;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    word-spacing: 5px;
}
.sub-title-head{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.sub-history{
    font-size: 19px;
    font-family: 'Anton', sans-serif,cursive;
    max-width: 820px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fadadd;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 120px;
}

.head-desc{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.sub-head-desc{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.sub-desc{
    font-size: 19px;
    font-family: 'Anton', sans-serif,cursive;
    min-width: none;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fadadd;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    word-spacing: 5px;
}

.sub-sub-head-desc{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.sub-sub-sub-head-desc{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.tile{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
}

iframe{
    width: 1000px;
    height: 600px;
    margin-bottom: 100px;
}

.sketchfab{
    display: flex;
    font-size: 25px;
    margin-bottom: 20px;

}

.sketchfab-embed-wrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Anton', sans-serif,cursive;
}

.rule h2{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
    text-shadow: 5px 5px #eb89ba;
}

.rule p{
    font-size: 19px;
    font-family: 'Anton', sans-serif,cursive;
    min-width: none;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fadadd;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    word-spacing: 5px;
}

.rule h3{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.rule h4{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #eb89ba;
}

.play h2{
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-shadow: 5px 5px #eb89ba;
}

.play p{
    font-size: 19px;
    font-family: 'Anton', sans-serif,cursive;
    min-width: none;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fadadd;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    word-spacing: 5px;
}

.play ul{
    font-size: 19px;
    font-family: 'Anton', sans-serif,cursive;
    min-width: none;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fadadd;
    border-radius: 7px;
    padding: 10px;
    word-spacing: 5px;
    list-style-type: none;
}

.play img{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }